$black: #22202d;
$black_light: #292837;
$gray_dark: #4f5b66;
$gray: #65737e;
$gray_light: #a7adba;
$white: #c0c5ce;
$silver: #cdd3de;
$silver_light: #d8dee9;
$white_pure: #ffffff;

$comment: #6272a4;
$red: #ff5555;
$orange: #ffb86c;
$green: #50fa7b;
$yellow: #f1fa8c;
$magenta: #bd93f9;
$cyan: #8be9fd;
$pink: #ff79c6;
